.step-container {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    text-align: center;
  }
  
  .servico-list {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .servico-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .servico-item.selected {
    background-color: #e6bbc2;
    color: white;
  }
  
  .total {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .next-button {
    padding: 10px 20px;
    background-color: #e6bbc2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
  }
  