/* Servicos.css */
.inicio-container {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 200px;
    background-color: #e3abb4;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .sidebar-item {
    padding: 10px;
    margin: 5px 0;
    color: white;
    text-decoration: none;
  }
  
  .sidebar-item:hover, .sidebar-item.active {
    background-color: #e6bbc2;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f7f7f7;
    overflow: auto;
  }
  
  .logout-button {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #e6bbc2;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .search-input {
    padding: 10px 15px;
    margin-right: 10px;
    width: calc(70% - 30px);
    border-radius: 20px;
    border: 2px solid #e6bbc2;
    background-color: white;
    color: #333;
  }
  
  .add-service-button {
    padding: 10px 20px;
    background-color: #e6bbc2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
  }
  
  /* Estilos para a tabela */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
  }
  
  .table th, .table td {
    padding: 12px;
    border: none;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .table th {
    background-color: #e6bbc2;
    color: white;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }
  
  .action-icons {
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
  }
  
  .action-icons:hover {
    color: #333;
  }
  